<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div class="container">
    <h1> Liste des approvisionnements </h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Libelle</th>
            <th scope="col">Quantité</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Approvisionnement : ${listApprovisionnement}">
            <th th:text="${Approvisionnement.id}" scope="row"></th>
            <td th:text="${Approvisionnement.produit.libelle}"></td>
            <td th:text="${Approvisionnement.qte}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>