<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/public/styles.css}">
</head>
<body>
   <nav>
       <div class="logo">
           <p>Logo</p>
       </div>
       <ul>
           <li><a th:href="@{/home}">HOME</a></li>
           <li><a th:href="@{/produits/afficher}" sec:authorize="hasRole('ROLE_ADMIN')">ARTICLES</a></li>
           <li><a th:href="@{approvisionnement/afficher}" >APPROVISIONNEMENT</a></li>
       </ul>
   </nav>
</body>
</html>